body
{
	background: black;
	color: white;
	overflow: hidden;
}

#info
{
	position: absolute;
	width: 100%;
	height: 100%;
	font-family: "agency fb";
	font-weight: bold;
	font-size: 48pt;
	color: gray;
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

#red
{
	position: absolute;
	width: 100%;
	height: 100%;
}

#blue
{
	position: absolute;
	width: 100%;
	height: 100%;
}

#green
{
	position: absolute;
	width: 100%;
	height: 100%;
}

#yellow
{
	position: absolute;
	width: 100%;
	height: 100%;
}

#purple
{
	position: absolute;
	width: 100%;
	height: 100%;
}

#orange
{
	position: absolute;
	width: 100%;
	height: 100%;
}

#other
{
	position: relative;
	width: 100%;
	height: 100%;
}

#attack
{
	position: absolute;
	width: 50%;
	height: 50%;
	margin-left: 25%;
	margin-top: 25%;
	border: 1px solid #494949;
	border-radius: 150px 150px 150px 150px;
}
