body
{
	background: black;
	color: white;
	overflow: hidden;
}

#viz
{
	position: absolute;
	width: 99%;
	height: 98%;
	border: 1px dotted #202020;
	z-index: 1000;
}

#info
{
	position: absolute;
	width: 99%;
	height: 98%;
	font-family: "agency fb";
	font-weight: bold;
	font-size: 48pt;
	color: gray;
	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

#logos
{
	position: absolute;
	width: 25%;
	height: 25%;
	opacity: 0.5;
	filter:alpha(opacity=50);
}

#logos.top-right
{
	right: 6px;
	top: 8px;
}

#logos.bottom-right
{
	right: 6px;
	bottom: -139px;
}

#logos.bottom-left
{
	left: 9px;
	bottom: -136px;
}

#red
{
	position: absolute;
	width: 99%;
	height: 98%;
}

#blue
{
	position: absolute;
	width: 99%;
	height: 98%;
}

#green
{
	position: absolute;
	width: 99%;
	height: 98%;
}

#yellow
{
	position: absolute;
	width: 99%;
	height: 98%;
}

#purple
{
	position: absolute;
	width: 99%;
	height: 98%;
}

#orange
{
	position: absolute;
	width: 99%;
	height: 98%;
}

#white
{
	position: relative;
	width: 99%;
	height: 98%;
}
