body
{
	background: black;
}

#scores
{
	display: table;
	width: 100%;
	height: 50%;
}

#team
{
	display: table-cell;
	width: 33%;
	border: 1px solid black;
}

#challenge
{
	height: 33%;
	margin-left: 1%;
	font-family: agency fb;
	font-weight: bold;
	font-size: 72pt;
	color: white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#score
{
	height: 64%;
	font-family: agency fb;
	font-weight: bold;
	font-size: 96pt;
	color: white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	text-align: center;
}

.team1
{
	background: red;
}

.team2
{
	background: blue;
}

.team3
{
	background: yellow;
}

.team4
{
	background: green;
}

.team5
{
	background: purple;
}

.team6
{
	background: orange;
}

