@font-face
{
	font-family: "agency fb";
	src: url(../AGENCYR.TTF);
}

body
{
	background: black;
}

#scores
{
	display: table;
	width: 100%;
	height: 50%;
}

#scores.full
{
	height: 100%;
}

#team
{
	display: table-cell;
	width: 33.3333333333%;
	border: 1px solid black;
}

#challenge
{
	float: left;
	width: 21%;
	height: 30%;
	margin-left: 0.05em;
	font-family: agency fb;
	font-weight: bold;
	font-size: 72pt;
	color: white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#name
{
	float: right;
	width: 76%;
	height: 30%;
	margin-right: 0.05em;
	font-family: agency fb;
	font-weight: bold;
	font-size: 32pt;
	color: white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	text-align: right;
}

#name.red
{
	color: #440001;
	text-shadow: -1px -1px 0 #111, 1px -1px 0 #111, -1px 1px 0 #111, 1px 1px 0 #111;
}

#name.blue
{
	color: #0200a7;
	text-shadow: -1px -1px 0 #111, 1px -1px 0 #111, -1px 1px 0 #111, 1px 1px 0 #111;
}

#name.green
{
	color: #00490c;
	text-shadow: -1px -1px 0 #111, 1px -1px 0 #111, -1px 1px 0 #111, 1px 1px 0 #111;
}

#name.yellow
{
	color: #696b00;
	text-shadow: -1px -1px 0 #111, 1px -1px 0 #111, -1px 1px 0 #111, 1px 1px 0 #111;
}

#name.purple
{
	color: #560049;
	text-shadow: -1px -1px 0 #111, 1px -1px 0 #111, -1px 1px 0 #111, 1px 1px 0 #111;
}

#name.orange
{
	color: #5b2700;
	text-shadow: -1px -1px 0 #111, 1px -1px 0 #111, -1px 1px 0 #111, 1px 1px 0 #111;
}

#score
{
	font-family: agency fb;
	font-weight: bold;
	font-size: 96pt;
	color: white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	text-align: center;
}

/* gradients done with: http://www.colorzilla.com/gradient-editor/ */
#team.red
{
/*	background: red;*/
	background: #a90329; /* Old browsers */
	background: url("images/red.png") no-repeat center, -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #3f0001 100%); /* FF3.6+ */
	background: url("images/red.png") no-repeat center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#3f0001)); /* Chrome,Safari4+ */
	background: url("images/red.png") no-repeat center, -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#3f0001 100%); /* Chrome10+,Safari5.1+ */
	background: url("images/red.png") no-repeat center, -o-linear-gradient(top, #a90329 0%,#8f0222 44%,#3f0001 100%); /* Opera 11.10+ */
	background: url("images/red.png") no-repeat center, -ms-linear-gradient(top, #a90329 0%,#8f0222 44%,#3f0001 100%); /* IE10+ */
	background: url("images/red.png") no-repeat center, linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#3f0001 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#3f0001',GradientType=0 ); /* IE6-9 */
	background-size: contain;
}

#team.blue
{
/*	background: blue;*/
	background: #0455e0; /* Old browsers */
	background: url("images/blue.png") no-repeat center, -moz-linear-gradient(top, #0455e0 0%, #033db2 40%, #020087 100%); /* FF3.6+ */
	background: url("images/blue.png") no-repeat center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0455e0), color-stop(40%,#033db2), color-stop(100%,#020087)); /* Chrome,Safari4+ */
	background: url("images/blue.png") no-repeat center, -webkit-linear-gradient(top, #0455e0 0%,#033db2 40%,#020087 100%); /* Chrome10+,Safari5.1+ */
	background: url("images/blue.png") no-repeat center, -o-linear-gradient(top, #0455e0 0%,#033db2 40%,#020087 100%); /* Opera 11.10+ */
	background: url("images/blue.png") no-repeat center, -ms-linear-gradient(top, #0455e0 0%,#033db2 40%,#020087 100%); /* IE10+ */
	background: url("images/blue.png") no-repeat center, linear-gradient(to bottom, #0455e0 0%,#033db2 40%,#020087 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0455e0', endColorstr='#020087',GradientType=0 ); /* IE6-9 */
	background-size: contain;
}

#team.green
{
/*	background: green;*/
	background: #04e526; /* Old browsers */
	background: url("images/green.png") no-repeat center, -moz-linear-gradient(top, #04e526 0%, #03b232 40%, #00490c 100%); /* FF3.6+ */
	background: url("images/green.png") no-repeat center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#04e526), color-stop(40%,#03b232), color-stop(100%,#00490c)); /* Chrome,Safari4+ */
	background: url("images/green.png") no-repeat center, -webkit-linear-gradient(top, #04e526 0%,#03b232 40%,#00490c 100%); /* Chrome10+,Safari5.1+ */
	background: url("images/green.png") no-repeat center, -o-linear-gradient(top, #04e526 0%,#03b232 40%,#00490c 100%); /* Opera 11.10+ */
	background: url("images/green.png") no-repeat center, -ms-linear-gradient(top, #04e526 0%,#03b232 40%,#00490c 100%); /* IE10+ */
	background: url("images/green.png") no-repeat center, linear-gradient(to bottom, #04e526 0%,#03b232 40%,#00490c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04e526', endColorstr='#00490c',GradientType=0 ); /* IE6-9 */
	background-size: contain;
}

#team.yellow
{
/*	background: yellow;*/
	background: #f2f200; /* Old browsers */
	background: url("images/yellow.png") no-repeat center, -moz-linear-gradient(top, #f2f200 0%, #c1bb00 40%, #696b00 100%); /* FF3.6+ */
	background: url("images/yellow.png") no-repeat center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f200), color-stop(40%,#c1bb00), color-stop(100%,#696b00)); /* Chrome,Safari4+ */
	background: url("images/yellow.png") no-repeat center, -webkit-linear-gradient(top, #f2f200 0%,#c1bb00 40%,#696b00 100%); /* Chrome10+,Safari5.1+ */
	background: url("images/yellow.png") no-repeat center, -o-linear-gradient(top, #f2f200 0%,#c1bb00 40%,#696b00 100%); /* Opera 11.10+ */
	background: url("images/yellow.png") no-repeat center, -ms-linear-gradient(top, #f2f200 0%,#c1bb00 40%,#696b00 100%); /* IE10+ */
	background: url("images/yellow.png") no-repeat center, linear-gradient(to bottom, #f2f200 0%,#c1bb00 40%,#696b00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f200', endColorstr='#696b00',GradientType=0 ); /* IE6-9 */
	background-size: contain;
}

#team.purple
{
/*	background: purple;*/
	background: #ca00d1; /* Old browsers */
	background: url("images/purple.png") no-repeat center, -moz-linear-gradient(top, #ca00d1 0%, #a900b2 40%, #460049 100%); /* FF3.6+ */
	background: url("images/purple.png") no-repeat center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ca00d1), color-stop(40%,#a900b2), color-stop(100%,#460049)); /* Chrome,Safari4+ */
	background: url("images/purple.png") no-repeat center, -webkit-linear-gradient(top, #ca00d1 0%,#a900b2 40%,#460049 100%); /* Chrome10+,Safari5.1+ */
	background: url("images/purple.png") no-repeat center, -o-linear-gradient(top, #ca00d1 0%,#a900b2 40%,#460049 100%); /* Opera 11.10+ */
	background: url("images/purple.png") no-repeat center, -ms-linear-gradient(top, #ca00d1 0%,#a900b2 40%,#460049 100%); /* IE10+ */
	background: url("images/purple.png") no-repeat center, linear-gradient(to bottom, #ca00d1 0%,#a900b2 40%,#460049 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ca00d1', endColorstr='#460049',GradientType=0 ); /* IE6-9 */
	background-size: contain;
}

#team.orange
{
/*	background: orange;*/
	background: #ef6700; /* Old browsers */
	background: url("images/orange.png") no-repeat center, -moz-linear-gradient(top, #ef6700 0%, #b74c00 41%, #5b2700 100%); /* FF3.6+ */
	background: url("images/orange.png") no-repeat center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ef6700), color-stop(41%,#b74c00), color-stop(100%,#5b2700)); /* Chrome,Safari4+ */
	background: url("images/orange.png") no-repeat center, -webkit-linear-gradient(top, #ef6700 0%,#b74c00 41%,#5b2700 100%); /* Chrome10+,Safari5.1+ */
	background: url("images/orange.png") no-repeat center, -o-linear-gradient(top, #ef6700 0%,#b74c00 41%,#5b2700 100%); /* Opera 11.10+ */
	background: url("images/orange.png") no-repeat center, -ms-linear-gradient(top, #ef6700 0%,#b74c00 41%,#5b2700 100%); /* IE10+ */
	background: url("images/orange.png") no-repeat center, linear-gradient(to bottom, #ef6700 0%,#b74c00 41%,#5b2700 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef6700', endColorstr='#5b2700',GradientType=0 ); /* IE6-9 */
	background-size: contain;
}

#announcement-table
{
	display: table;
	position: fixed;
	top:10%;
	left: 10%;
	width: 80%;
	height: 80%;
}

#announcement-row
{
	display: table-row;
	width: 100%;
	height: 100%;
}

#announcement
{
	display: table-cell;
	border: 1px solid yellow;
	width: 100%;
	height: 100%;
	font-family: agency fb;
	font-weight: bold;
	font-size: 72pt;
	text-align: center;
	vertical-align: middle;
	color: white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	background-color: black;
	filter: alpha(opacity=90);
	opacity: 0.9;
}
