body
{
	height: 100%;
	font-family: agency fb;
	font-weight: bold;
	font-size: 36pt;
	color: #7c7979;
        text-shadow: -1px -1px 0 #111, 1px -1px 0 #111, -1px 1px 0 #111, 1px 1px 0 #111;
	background: #d7d4d5; /* Old browsers */
	background: url("images/white.png") no-repeat right, -moz-linear-gradient(top, #d7d4d5 0%, #aca7a8 75%, #3f3c3c 100%) fixed; /* FF3.6+ */
	background: url("images/white.png") no-repeat right, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d7d4d5), color-stop(75%,#aca7a8), color-stop(100%,#3f3c3c)) fixed; /* Chrome,Safari4+ */
	background: url("images/white.png") no-repeat right, -webkit-linear-gradient(top, #d7d4d5 0%,#aca7a8 75%,#3f3c3c 100%) fixed; /* Chrome10+,Safari5.1+ */
	background: url("images/white.png") no-repeat right, -o-linear-gradient(top, #d7d4d5 0%,#aca7a8 75%,#3f3c3c 100%) fixed; /* Opera 11.10+ */
	background: url("images/white.png") no-repeat right, -ms-linear-gradient(top, #d7d4d5 0%,#aca7a8 75%,#3f3c3c 100%) fixed; /* IE10+ */
	background: url("images/white.png") no-repeat right, linear-gradient(to bottom, #d7d4d5 0%,#aca7a8 75%,#3f3c3c 100%) fixed; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7d4d5', endColorstr='#3f3c3c',GradientType=0 ) fixed; /* IE6-9 */
/*	background-size: 35%;*/
	background-size: contain;
}

a:link, a:visited
{
	color: black;
}

a:hover
{
	color: gray;
}

h2.title
{
	border-bottom: 1px solid black;
}

#hr
{
	border-bottom: 1px solid black;
}

table, td, tr, input, select
{
	font-family: inherit;
	font-weight: normal;
	font-size: 22pt;
	text-shadow: none;
	color: black;
}
